rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // 1. Kullanıcı Profilleri: Herkes görebilir, ama kişi sadece kendini düzenleyebilir
    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // 2. Kediler, İşaretler ve Haberler
    match /{collection}/{document=**} {
      // Herkes okuyabilir (Listeyi görebilir)
      allow read: if true;
      
      // Sadece GİRİŞ YAPMIŞ kullanıcılar yeni veri ekleyebilir
      allow create: if request.auth != null;
      
      // Güvenlik için silme ve düzenleme şimdilik kapalı
      allow update, delete: if false;
    }
  }
}